@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CABE66;
  --color-secondary: #03373D;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.heading {
font-size: 40px;
color: white;
font-weight: bold;
}
.amber-button{
  font-size: 20;
  color: #1F1F1F;
  font-weight: bold;
  background-color: #CAEB66;
  padding:14px 32px ;
  border-radius: 12px;
  cursor: pointer;
}
.white-button{
  font-size: 20;
  color: #606060;
  font-weight: bold;
  background-color: #FFFFFF;
  padding:14px 32px ;
  border: 2px solid #DADADA;
  border-radius: 12px;
  cursor: pointer;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}
